---
---
{% assign lang = page.lang | default: site.lang | default: 'en' %}
{% assign menu = site.data.translations.menu[page.menu][lang] %}
{% assign title = page.title | default: site.title %}
{% assign subtitle = page.subtitle | default: site.subtitle %}
{% assign description = page.description | default: site.description %}

<!DOCTYPE HTML>
<!--
    Drop theme by apehex
    https://github.com/apehex
    Free for personal and commercial use under the CCA 4.0 license
-->
<html lang="{{ lang }}">
    
    {% include head.html title=title subtitle=subtitle %}

    <body class="is-preload">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>